[package]
name = "libexodus"
version = "0.1.0"
edition = "2021"

[dependencies]
directories = "4.0"
walkdir = "2.3.2"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
uuid = { version = "1.1.2", features = ["v4", "fast-rng", "macro-diagnostics", "serde"] }
